@font-face {
  font-family: "Neuropol X";
  src: url("./font/neuropolX.ttf");
}

div {
  margin: 0 auto;
}

#level-select {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Neuropol X";
  font-size: 70px;
}